## Hyperparameter Project Using SQL Database

### Authors : Amey Babar, Aniruddha Joshi

### Abstract

The project covers storing the hyperparameters of certain machine learning models generated during training the dataset. The data generated has been normalized and divided into different tables for easy access and clarity. The database has been divided into 8 different tables, which all store different attributes of the models. Using this database we can figure out the range of hyperparameters for a particular model and also figure out which is the best model for the dataset.

### Dataset Info

The dataset we have used is concerned with information of diabetic patients collected from Health Facts Database collected over 10 years (1999-2008) across the United States. It measures the impact of HbA1c measurement on hospital readmission rate. The data is collected from over 130 hospitals. The geographical spread of participating hospitals is as follows- Northeast (58), Midwest(18), South(28), West(16).There are 74,036,643 unique encounters that are represented in the dataset. Each encounter has 117 different features. 

We have taken the data given to us by the Data science team and created a database from the same.
The database stores the machine learning data generated by the data science team in order to predict the likelihood of diabetic patients being readmitted within 30 days. 

Source - https://www.kaggle.com/brandao/diabetes

### Data Description

The raw data files that were forwarded by the Data Science team were first preprocessed in Python and Excel to ensure easy storing to SQL server.

In [1]:
import pandas as pd
import os

In [2]:
diabetes_train = pd.read_csv('diabetes_train.csv')

In [3]:
diabetes_train.head()

,id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
2,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
diabetes_train.shape

(50001, 50)

In [5]:
diabetes_train.columns

Index(['id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [6]:
IDs_mapping = pd.read_csv('IDs_mapping.csv')

In [7]:
IDs_mapping.head()

                  ID  description
0  admission_type_id  description
1                  1    Emergency
2                  2       Urgent
3                  3     Elective
4                  4      Newborn

In [8]:
IDs_mapping.shape

(68, 2)

In [9]:
IDs_mapping.columns

Index(['ID', 'description'], dtype='object')

In [10]:
IDs_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
ID             66 non-null object
description    63 non-null object
dtypes: object(2)
memory usage: 1.1+ KB

In [11]:
DataDescriptiontable = pd.read_csv('DataDescription.csv')

In [12]:
DataDescriptiontable.head()

   Unnamed: 0 DataType   ColumnName
0           0    int64           id
1           1    int64  patient_nbr
2           2   object         race
3           3   object       gender
4           4   object          age

In [14]:
Metadatatable = pd.read_csv('Metadatatable.csv')

In [15]:
Metadatatable.head()

   Runtime_ID  DatasetID SystemDate  Runtime
0           1          1  4/21/2019      500
1           2          1  4/22/2019     1000
2           3          1  4/23/2019     1500

In [16]:
ModelTable = pd.read_csv('ModelTable.csv')

In [17]:
ModelTable.head()

   Model_ID  Runtime_ID                                        ModelName
0         4           1                    StackedEnsemble20190421230946
1         4           1  StackedEnsembleBestOfFamilyAutoML20190421230946
2         1           1               GLMgrid1AutoML20190421230946model1
3         2           1               GBMgrid1AutoML20190421230946model4
4         2           1               GBMgrid1AutoML20190421230946model3

In [18]:
MetricTable = pd.read_csv('MetricTable.csv')

In [19]:
MetricTable.head()

,Metric_ID,ModelName,auc,logloss,mean_per_class_error,rmse,mse
0,1,StackedEnsemble20190421230946,0.709219,0.423215,0.460722,0.362320,0.131275
1,2,StackedEnsembleBestOfFamilyAutoML20190421230946,0.708877,0.423798,0.465452,0.362477,0.131389
2,3,GLMgrid1AutoML20190421230946model1,0.704824,0.425356,0.465952,0.363453,0.132098
3,4,GBMgrid1AutoML20190421230946model4,0.700568,0.436165,0.474008,0.368526,0.135812
4,5,GBMgrid1AutoML20190421230946model3,0.699463,0.447776,0.476830,0.373958,0.139845

In [20]:
HPDRFtable = pd.read_csv('HPDRFtable.csv')

In [21]:
HPDRFtable.head()

,HP_ID,ModelName,balance_classes/default,balance_classes/actual,class_sampling_factors/default,class_sampling_factors/actual,max_after_balance_size/default,max_after_balance_size/actual,max_depth/default,max_depth/actual,...,col_sample_rate_change_per_level/default,col_sample_rate_change_per_level/actual,col_sample_rate_per_tree/default,col_sample_rate_per_tree/actual,min_split_improvement/default,min_split_improvement/actual,histogram_type/default,histogram_type/actual,categorical_encoding/default,categorical_encoding/actual
0,9,DRF1AutoML20190421230946,False,False,NaN,NaN,5,5,20,20,...,1,1,1,1,0.00001,0.00001,AUTO,AUTO,AUTO,AUTO
1,23,DRF1AutoML20190422233034,False,False,NaN,NaN,5,5,20,20,...,1,1,1,1,0.00001,0.00001,AUTO,AUTO,AUTO,AUTO
2,42,DRF1AutoML20190423001614,False,False,NaN,NaN,5,5,20,20,...,1,1,1,1,0.00001,0.00001,AUTO,AUTO,AUTO,AUTO

In [25]:
HPGBMtable = pd.read_csv('HPGBMtable.csv')

In [26]:
HPGBMtable.head()

,HP_ID,ModelName,balance_classes/default,balance_classes/actual,class_sampling_factors/default,class_sampling_factors/actual,max_after_balance_size/default,max_after_balance_size/actual,ntrees/default,ntrees/actual,...,min_split_improvement/default,min_split_improvement/actual,histogram_type/default,histogram_type/actual,max_abs_leafnode_pred/default,max_abs_leafnode_pred/actual,pred_noise_bandwidth/default,pred_noise_bandwidth/actual,categorical_encoding/default,categorical_encoding/actual
0,4,GBMgrid1AutoML20190421230946model4,False,False,NaN,NaN,5,5,50,137,...,0.00001,0.00001,AUTO,AUTO,1.7976931348623157e+308,1.7976931348623157e+308,0,0,NaN,NaN
1,5,GBMgrid1AutoML20190421230946model3,False,False,NaN,NaN,5,5,50,117,...,0.00001,0.00001,AUTO,AUTO,1.7976931348623157e+308,1.7976931348623157e+308,0,0,NaN,NaN
2,7,GBMgrid1AutoML20190421230946model5,False,False,NaN,NaN,5,5,50,28,...,0.00001,0.00001,AUTO,AUTO,1.7976931348623157e+308,1.7976931348623157e+308,0,0,NaN,NaN
3,8,GBMgrid1AutoML20190421230946model2,False,False,NaN,NaN,5,5,50,132,...,0.00001,0.00010,AUTO,AUTO,1.7976931348623157e+308,1.7976931348623157e+308,0,0,NaN,NaN
4,11,GBMgrid1AutoML20190421230946model1,False,False,NaN,NaN,5,5,50,30,...,0.00001,0.00010,AUTO,AUTO,1.7976931348623157e+308,1.7976931348623157e+308,0,0,NaN,NaN

In [27]:
HPGLMtable = pd.read_csv('HPGLMtable.csv')

In [28]:
HPGLMtable.head()

,HP_ID,ModelName,tweedie_variance_power/default,tweedie_variance_power/actual,tweedie_link_power/default,tweedie_link_power/actual,alpha/default,alpha/actual/0,lambda/default,lambda/actual/0,...,missing_values_handling/default,missing_values_handling/actual,balance_classes/default,balance_classes/actual,class_sampling_factors/default,class_sampling_factors/actual,max_after_balance_size/default,max_after_balance_size/actual,max_runtime_secs/default,max_runtime_secs/actual
0,3,GLMgrid1AutoML20190421230946model1,0,0,1,1,NaN,0,NaN,10.263112,...,MeanImputation,MeanImputation,False,False,NaN,NaN,5,5,0,5.500000
1,20,GLMgrid1AutoML20190422233034model1,0,0,1,1,NaN,0,NaN,10.263112,...,MeanImputation,MeanImputation,False,False,NaN,NaN,5,5,0,11.166667
2,36,GLMgrid1AutoML20190423001614model1,0,0,1,1,NaN,0,NaN,10.263112,...,MeanImputation,MeanImputation,False,False,NaN,NaN,5,5,0,18.166667

## ER Diagram

The following ER diagram was created on the basis of which the physical database was formed.

![title](img/erd.png)

## Physical Model

The following database is used for the project

![title](img/UpdatedERdiagram.png)

## MYSQL part

The database was created using mysql server

![title](img/sql.png)

Using the created Database, the output for following usecase queries was obtained.




1.How many models were run for 500 seconds?

![title](img/sql1.png)

2. How many models were run for 1000 seconds?

![title](img/sql2.png)



3. How many models were run for 1500 seconds?

![title](img/sql3.png)



4. Which is the best GBM model with lowest RMSE value?

![title](img/sql4.png)



5. What number of GLM models exist across all runtimes?

![title](img/sql5.png)



6. What number of GLM models exist for 1500s runtime ?

![title](img/sql6.png)



7. Which is the best GLM model for 1000s runtime ?

![title](img/sql7.png)



8. Which is the best GBM model for 1500s runtime ?

![title](img/sql8.png)



9. Which is the best overall model for 500s runtime ?

![title](img/sql9.png)



10. Which is the best DRF model across all runtimes ?

![title](img/sql10.png)



11. Which are the top 3 models for all runs?

![title](img/sql11.png)



12. What is the highest RMSE value for a GBM model?

![title](img/sql12.png)

## VIEWS

4 different views were also created

1st view - All GBM models for runtime 500s

![title](img/sql13.png)

2nd view - All GLM models for runtime 1000s

![title](img/sql14.png)

3rd view - RMSE values and runtimes for all DRF models

![title](img/sql15.png)

4th view - System dates and runtimes for all models

![title](img/sql16.png)

# Conclusion

The entire project was done to find the best hyperparameters for any user dataset and give the user a optimal solution. The below link will give access to all files on GitHub group DB01

https://github.com/INFO6105-Spring19/hyperparameter-db-project-db01

# Citation and References

https://www.geeksforgeeks.org/sql-join-set-1-inner-left-right-and-full-joins/

https://www.1keydata.com/blog/composite-key-in-sql.html

https://stackoverflow.com/

https://github.com/nikbearbrown/

## License

Copyright 2019 Amey Babar, Aniruddha Joshi

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

MIT License https://opensource.org/licenses/MIT