# Hyperparameter Project

### Abstract

The dataset we have used is concerned with information of diabetic patients collected from Health Facts Database collected over 10 years (1999-2008) across the United States. It measures the impact of HbA1c measurement on hospital readmission rate. The data is collected from over 130 hospitals. The geographical spread of participating hospitals is as follows- Northeast (58), Midwest(18), South(28), West(16).There are 74,036,643 unique encounters that are represented in the dataset. Each encounter has 117 different features. We will be taking the data given to us by the Data science team and creating a databse from the same.

In [4]:
import pandas as pd
import os

In [6]:
diabetes_train = pd.read_csv('diabetes_train.csv')

### Data Description

https://www.kaggle.com/brandao/diabetes

In [4]:
diabetes_train.head()

,id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
2,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [19]:
diabetes_train.shape

(50001, 50)

In [20]:
diabetes_train.columns

Index(['id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [15]:
type(diabetes_train.dtypes)

pandas.core.series.Series

In [16]:
diabetesdata= pd.DataFrame(diabetes_train.dtypes)

In [20]:
diabetesdata.columns= ['DataType','ColumnName']

In [21]:
diabetesdata['ColumnName']=diabetesdata.index

In [23]:
diabetesdata.reset_index(inplace=True)

In [28]:
diabetesdata.drop(['index'],axis=1,inplace=True)

In [29]:
diabetesdata.to_csv('DataDescription.csv')

In [10]:
diabetes_train.isnull().sum()

id                          0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [12]:
IDs_mapping = pd.read_csv('IDs_mapping.csv')

In [18]:
IDs_mapping.head()

                  ID  description
0  admission_type_id  description
1                  1    Emergency
2                  2       Urgent
3                  3     Elective
4                  4      Newborn

In [21]:
IDs_mapping.shape

(68, 2)

In [22]:
IDs_mapping.columns

Index(['ID', 'description'], dtype='object')

In [16]:
IDs_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
ID             66 non-null object
description    63 non-null object
dtypes: object(2)
memory usage: 1.1+ KB

In [17]:
IDs_mapping.isnull().sum()

ID             2
description    5
dtype: int64